:root {
    --accent-width: 900px;
    --video-width: 450px;
    --acent-cl: #003e80;
}

body {
    background: #f0f0f0;
    font-family: sans-serif;
    margin: 0;
    padding-top: 10px;
    background: url('../images/budda-gold.webp') no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px;
}

html {
    scroll-behavior: smooth;
}

.accent_form {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    margin: 10px auto;
    max-width: var(--accent-width);
}

#container_video {
    position: relative;
    z-index: 2;
    max-width: var(--video-width);
    margin: auto;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

#video {
    display: block;
    width: 100%;
    max-width: var(--video-width);
    height: auto;
    margin: 0 auto;
}

#play {
    display: none;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    z-index: 2;
    height: 150px;
}

#play {
    display: block;
}

#play h4:first-child {
    margin-bottom: 60px;
}

#play>div {
    background: no-repeat center/60px url(data:image/svg+xml;base64,CiAgICA8c3ZnIHZlcnNpb249IjEuMSIgZmlsbD0iI0ZGRkZGRiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIKICAgICAgICB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjQ2Ljc1cHgiIGhlaWdodD0iMzIuNTYzcHgiIHZpZXdCb3g9IjcuOTk5IDkuMDYyIDQ2Ljc1IDMyLjU2MyIKICAgICAgICBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDcuOTk5IDkuMDYyIDQ2Ljc1IDMyLjU2MyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIKICAgID4KICAgICAgPHN0eWxlPgogICAgICAgIEAtd2Via2l0LWtleWZyYW1lcyBCTElOSyB7CiAgICAgICAgICAwJSB7IG9wYWNpdHk6IDA7IH0KICAgICAgICAgIDMzJSB7IG9wYWNpdHk6IDE7IH0KICAgICAgICAgIDY2JSB7IG9wYWNpdHk6IDE7IH0KICAgICAgICAgIDEwMCUgeyBvcGFjaXR5OiAwOyB9CiAgICAgICAgfQoKICAgICAgICBAa2V5ZnJhbWVzIEJMSU5LIHsKICAgICAgICAgIDAlIHsgb3BhY2l0eTogMDsgfQogICAgICAgICAgMzMlIHsgb3BhY2l0eTogMTsgfQogICAgICAgICAgNjYlIHsgb3BhY2l0eTogMTsgfQogICAgICAgICAgMTAwJSB7IG9wYWNpdHk6IDA7IH0KICAgICAgICB9CgogICAgICAgIC5hbmltYXRpb24gLmJsaW5rXzEgewogICAgICAgICAgLXdlYmtpdC1hbmltYXRpb246IEJMSU5LIDJzIGluZmluaXRlOwogICAgICAgICAgYW5pbWF0aW9uOiBCTElOSyAycyBpbmZpbml0ZTsKICAgICAgICAgIG9wYWNpdHk6IDA7CiAgICAgICAgfQoKICAgICAgICAuYW5pbWF0aW9uIC5ibGlua18yIHsKICAgICAgICAgIC13ZWJraXQtYW5pbWF0aW9uOiBCTElOSyAycyBpbmZpbml0ZSAuM3M7CiAgICAgICAgICBhbmltYXRpb246IEJMSU5LIDJzIGluZmluaXRlIC4zczsKICAgICAgICAgIG9wYWNpdHk6IDA7CiAgICAgICAgfQoKICAgICAgICAuYW5pbWF0aW9uIC5ibGlua18zIHsKICAgICAgICAgIC13ZWJraXQtYW5pbWF0aW9uOiBCTElOSyAycyBpbmZpbml0ZSAuNnM7CiAgICAgICAgICBhbmltYXRpb246IEJMSU5LIDJzIGluZmluaXRlIC42czsKICAgICAgICAgIG9wYWNpdHk6IDA7CiAgICAgICAgfQoKICAgICAgICAuYW5pbWF0aW9uIC5zbWFydHBsYXktc3ZnLWNvbG9yIHsKICAgICAgICAgIGZpbGw6ICcjRkZGRkZGJyAhaW1wb3J0YW50OwogICAgICAgIH0KCiAgICAgICAgLmFuaW1hdGlvbi5hZGp1c3RhYmxlIHsKICAgICAgICAgIGJvcmRlcjogNHB4IHNvbGlkICcjRkZGRkZGJzsKICAgICAgICB9CiAgICAgIDwvc3R5bGU+CgogICAgICA8ZyBjbGFzcz0iYWRqdXN0YWJsZSBmZyBhbmltYXRpb24iPgogICAgICAgIDxwYXRoIGNsYXNzPSJzbWFydHBsYXktc3ZnLWNvbG9yIiBkPSJNNTMuMjQ5LDM5LjYxNmMtMC4xODYsMC0wLjM3MS0wLjA1MS0wLjUzNy0wLjE1N2wtNDMuNS0yNy43NWMtMC40NjYtMC4yOTctMC42MDMtMC45MTYtMC4zMDYtMS4zODFjMC4yOTgtMC40NjYsMC45MTctMC42MDEsMS4zODEtMC4zMDZsNDMuNSwyNy43NWMwLjQ2NywwLjI5NywwLjYwNCwwLjkxNiwwLjMwNywxLjM4MUM1My45MDEsMzkuNDUzLDUzLjU3OSwzOS42MTYsNTMuMjQ5LDM5LjYxNnoiPjwvcGF0aD4KICAgICAgICA8cGF0aCBjbGFzcz0iYmxpbmtfMyBzbWFydHBsYXktc3ZnLWNvbG9yIiBkPSJNNDguODk2LDMzLjQ2N2wxLjY5OSwxLjA4NWMzLjQ5Ny03Ljc5MSwyLjA3My0xNy4yNzEtNC4zMTMtMjMuNjU5Yy0wLjM5MS0wLjM5MS0xLjAyMy0wLjM5MS0xLjQxNCwwcy0wLjM5MSwxLjAyMywwLDEuNDE0QzUwLjU4MSwxOC4wMTksNTEuOTEzLDI2LjQ2Myw0OC44OTYsMzMuNDY3eiI+PC9wYXRoPgogICAgICAgIDxwYXRoIGNsYXNzPSJibGlua18zIHNtYXJ0cGxheS1zdmctY29sb3IiIGQ9Ik00Ni45MjYsMzYuOTU2Yy0wLjYxMiwwLjg2My0xLjI4NiwxLjY5NS0yLjA1OSwyLjQ2OWMtMC4zOTIsMC4zOTEtMC4zOTIsMS4wMjMsMCwxLjQxNGMwLjE5NCwwLjE5NSwwLjQ1LDAuMjkzLDAuNzA3LDAuMjkzYzAuMjU2LDAsMC41MTItMC4wOTgsMC43MDYtMC4yOTNjMC44NzgtMC44NzgsMS42NDItMS44MjQsMi4zMzMtMi44MDdMNDYuOTI2LDM2Ljk1NnoiPjwvcGF0aD4KICAgICAgICA8cGF0aCBjbGFzcz0iYmxpbmtfMiBzbWFydHBsYXktc3ZnLWNvbG9yIiBkPSJNNDIuNTQzLDI5LjQxNWwxLjc3NywxLjEzNWMxLjU0NS01LjMxNSwwLjIyOS0xMS4yOTMtMy45NTMtMTUuNDc2Yy0wLjM5Mi0wLjM5MS0xLjAyMy0wLjM5MS0xLjQxNCwwYy0wLjM5MiwwLjM5MS0wLjM5MiwxLjAyMywwLDEuNDE0QzQyLjQ1NCwxOS45ODcsNDMuNjM5LDI0LjkyNSw0Mi41NDMsMjkuNDE1eiI+PC9wYXRoPgogICAgICAgIDxwYXRoIGNsYXNzPSJibGlua18yIHNtYXJ0cGxheS1zdmctY29sb3IiIGQ9Ik00MSwzMy4xNzRjLTAuNTYzLDAuOTQtMS4yMzUsMS44MzctMi4wNDcsMi42NDZjLTAuMzkxLDAuMzkyLTAuMzkxLDEuMDIzLDAsMS40MTRjMC4xOTUsMC4xOTUsMC40NTEsMC4yOTMsMC43MDcsMC4yOTNzMC41MTItMC4wOTgsMC43MDctMC4yOTNjMC45MTYtMC45MTQsMS42NzYtMS45MjQsMi4zMTctMi45ODRMNDEsMzMuMTc0eiI+PC9wYXRoPgogICAgICAgIDxwYXRoIGNsYXNzPSJibGlua18xIHNtYXJ0cGxheS1zdmctY29sb3IiIGQ9Ik0zNS43NzEsMjUuMDk0bDIuMDAzLDEuMjc3YzAuMDEyLTAuMjAzLDAuMDI5LTAuNDA0LDAuMDI5LTAuNjA5YzAtMy4wNzktMS4yLTUuOTc0LTMuMzgxLTguMTUzYy0wLjM5MS0wLjM5MS0xLjAyMi0wLjM5MS0xLjQxNCwwYy0wLjM5MSwwLjM5MS0wLjM5MSwxLjAyMywwLDEuNDE0QzM0LjY1MiwyMC42NjYsMzUuNjEzLDIyLjgwMiwzNS43NzEsMjUuMDk0eiI+PC9wYXRoPgogICAgICAgIDxwYXRoIGNsYXNzPSJibGlua18xIHNtYXJ0cGxheS1zdmctY29sb3IiIGQ9Ik0zNS4wODQsMjkuNDAxYy0wLjQ3NCwxLjE0NS0xLjE3MiwyLjE5Ny0yLjA3NiwzLjFjLTAuMzkxLDAuMzkxLTAuMzkxLDEuMDIzLDAsMS40MTRjMC4xOTUsMC4xOTUsMC40NTEsMC4yOTMsMC43MDcsMC4yOTNjMC4yNTcsMCwwLjUxMy0wLjA5OCwwLjcwNy0wLjI5M2MxLjAwOC0xLjAwNiwxLjc5NS0yLjE3LDIuMzYxLTMuNDNMMzUuMDg0LDI5LjQwMXoiPjwvcGF0aD4KICAgICAgICA8cG9seWdvbiBjbGFzcz0ic21hcnRwbGF5LXN2Zy1jb2xvciIgcG9pbnRzPSIyOC4xMjQsMjAuMjE1IDI4LjEyNCwxNC45OTEgMjQuNjM1LDE3Ljk5ICAiPjwvcG9seWdvbj4KICAgICAgICA8cGF0aCBjbGFzcz0ic21hcnRwbGF5LXN2Zy1jb2xvciIgZD0iTTIwLjkyMSwyMC4zNjZoLTYuNDIzYy0wLjU1MywwLTEsMC41MDgtMSwxLjEzNXY4LjIyOWMwLDAuNjI3LDAuNDQ3LDEuMTM1LDEsMS4xMzVoNy4zNzVsNi4yNSw1Ljg3NVYyNC45NkwyMC45MjEsMjAuMzY2eiI+PC9wYXRoPgogICAgICA8L2c+CiAgICA8L3N2Zz4KICA=);
}

#play>div {
    position: relative;
    background-color: rgba(255, 0, 0, 0.3);
    padding: 5px 20px;
    margin: 0 auto;
    width: 50%;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    cursor: pointer;
}

.main_title {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 1.35em;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    margin: 5px 0 0;
    color: #000;
    margin: auto;
    margin-bottom: 20px;
}

@media (max-width:600px) {
    .main_header {
        font-size: 25px;
    }

    #play>div {
        width: 80%;
    }
}

#progress-container {
    max-width: var(--video-width);
    margin: 0 auto;
}

#order {
    display: none;
    margin: 0 auto;
}

#progress-bar {
    background-color: #f20;
}

.highlight {
    color: red;
}

@media (max-width: 450px) {
    .tv_icons {

        gap: 5px;

    }
}

/* form */

* {
    box-sizing: border-box;
}


.form_title {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.main-btn {
    display: inline-block;
    border: 2px solid #e20045;
    background: #e20045;
    color: #fff !important;
    text-align: center;
    position: relative;
    font-size: 32px;
    padding: 20px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 7px 0 #e20045;
    -moz-box-shadow: 0 7px 0 #e20045;
    box-shadow: 0 7px 0 #e20045;
    cursor: pointer;
}

.main-btn span {
    display: block;
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
    margin-top: 12px;
}

.main-btn:hover {
    background: #ff004e;
    border-color: #e20045;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 7px 0 #e20045;
    -moz-box-shadow: 0 7px 0 #e20045;
    box-shadow: 0 7px 0 #e20045;
    text-decoration: none;
}

.main-btn img {
    position: absolute;
    bottom: -65px;
    right: -25px;
}

.green-text {
    color: #96c148;
}

.img-with-button {
    display: inline-block;
    position: relative;
}

.diet-section {
    height: auto;
    width: 100%;
    position: relative;
}

.diet-container {
    max-width: 469px;
    margin: 20px auto;
    border: 3px solid #d87ea4;
    padding: 9px 12px 20px;
    background: #fefaf1;
    border-radius: 15px;
    padding: 30px 45px;
}



.diet-container a.main-btn img {
    bottom: -62px;
    right: -40px;
}

.diet-container a.main-btn span {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 15px;
}

.diet-container .diet-text {
    width: 100%;
    margin: 40px auto 0;
}

.diet-container .diet-text h5 {
    font-size: 22px;
    color: #db4596;
    font-weight: 600;
    margin: 0 0 20px;
    text-align: center;
}


@media only screen and (max-width: 1023px) {
    .diet-container {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .diet-container a.main-btn {
        margin-top: 15px;
    }

    .diet-section {
        height: auto;
    }

    .diet-container a.main-btn img {
        right: -44px;
    }

    .diet-container a.main-btn {
        padding-left: 15px;
        padding-right: 15px;
        letter-spacing: -2px;
        margin-bottom: 25px;
    }

    .diet-container a.main-btn span {
        letter-spacing: normal;
        font-size: 18px;
    }

    .diet-container .diet-text,
    .diet-container .diet-text img {
        width: 100%;
    }

    .diet-container {
        padding: 15px;
    }
}

@media only screen and (max-width: 479px) {
    .diet-container a.main-btn {
        font-size: 50px;
        padding-top: 15px;
    }

    .diet-container a.main-btn span {
        font-size: 18px;
        padding-top: 0px;
        margin-top: 14px;
    }

    .diet-container a.main-btn img {
        right: -5px;
        bottom: -50px;
        width: 70px;
    }

    .diet-container a.main-btn span {
        font-size: 16px;
        line-height: 16px;
    }

    .diet-container a.main-btn {
        max-width: 96%;
    }

    .diet-container a.main-btn {
        font-size: 28px;
        border-radius: 10px;
    }

    .diet-container a.main-btn img {
        width: 72px;
        right: -5px;
        bottom: -55px;
    }

    .diet-container a.main-btn img {
        bottom: -62px;
    }
}

.clearfix {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 0.5rem;
    transition: 600ms ease;
    overflow: hidden;
    height: auto;
    height: 220px;
    opacity: 1;
    transition-behavior: allow-discrete;
}

input {
    /* flex: 1 0 10rem; */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
}

.label {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.btn_form {
    /* flex: 1 0 6rem; */
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #db4596;
    color: white;
    font-weight: 700;
    font-size: 16px;
    transition: 300ms linear;
}

.product {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.hide {
    transition: 600ms ease;
    min-height: 0;
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.box-img {
    display: flex;
    /* flex-wrap: wrap; */
}

.box-img img {
    max-width: 100%;
}

@media (max-width: 450px) {
    .box-img {
        flex-wrap: wrap;
    }

    .box {
        flex-grow: 1;
        flex-basis: 150px;
    }



    footer ol {
        columns: 1;
    }
}

@media (max-width: 370px) {

    .box {
        flex-basis: 120px;
    }
}

@media (max-width: 315px) {

    .box {
        flex-basis: 80px;
    }
}



.terbatas {
    text-align: center;
    font-size: 25px;
    font-weight: 700;

}

.terbatas img {
    max-width: 300px;
    width: 100%;

}

body {
    font-family: sans-serif;
}


@media (max-width: 800px) {

    .main_title {
        padding: 10px;
        font-size: 26px;
    }

    .literarure-box img {
        max-height: 80px;
        width: auto;
    }

    .literarure-box {
        justify-content: center;
    }

    .literarure ol {
        columns: 1;
    }

    .sound {
        padding: 0 10px;
    }
}

.sound {
    display: flex;
    align-items: center;
    gap: 10px;
    
    margin: 10px auto;
    justify-content: center;

}

.sound img {
    height: 20px;
    width: 20px;
}

blockquote {
    padding: 20px;
    border-left: 2px solid rgb(59, 59, 59);
}

.main_text {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}
ul {
    list-style: none;
}

.spinner-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000c9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-sub-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    margin: auto;
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.d-none {
    display: none;
}